
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    font-size: 2rem;
    margin: 1rem;
}

.navbar-brand {
    font-size: 3rem;
}

.img-responsive {
    height: 7cm;
    width: 7cm;
}

h3 {
    font-size: 4rem;
}

p {
    font-size: 3rem;
}

.col-sm-6 {
    padding: 3cm;
}

h4 {
    font-size: 5rem;
    color: black;
    text-align: center;
}

.col-sm-4 {
    padding: 3cm;
}

.col-sm-4>img:hover {
    transform: scale(1.4);
}

hr {
    border: 2px solid black;
}

.col-sm-8 {
    width: 15cm;
    margin: 0.5cm;
}

.address {
    width: 16cm;
    margin: 1cm;
}

.form-control {
    width: 13cm;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 2rem;
}
